.about {
  h2 {
    text-align: center;
  }
  max-width: 50rem;
  margin: 0 auto;
  .locationsTile {
    .images {
      height: auto;
      text-align: left;
      img {
        margin: 0 1rem;
      }
    }
  }
  .map-container {
    position: relative;
    height: 35rem;
  }
}
