.about {
  h2 {
    text-align: center;
  }
  max-width: 50rem;
  margin: 0 auto;
  .locationsTile {
    .images {
      height: auto;
      text-align: left;
      img {
        margin: 0 1rem;
      }
    }
  }
  .map-container {
    position: relative;
    height: 35rem;
  }
  .things-to-do {
    margin: 1rem 0;
    .thing-to-do {
      display: grid;
      grid-template-columns: 5rem auto;
      h4 {
        grid-column: span 2;
        padding: 1rem 0;
      }
      img {
        grid-column-start: 1;
        grid-row: span 2;
        margin: 0 1rem 0 0;
      }
      p {
        grid-column-start: 2;
      }
    }
  }
}
