#calendar {
  background: lighten($primary-color, 80%);
  padding: 1px;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  .calendarDay {
    background: white;
    justify-self: stretch;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background: lighten($primary-color, 90%);
    }
  }
}
