#calendar {
  background: lighten($primary-color, 80%);
  padding: 1px;
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;
  #datePicker, #daysOfWeek {
    grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
  }
  #datePicker {
    li:first-child {
      grid-column: 1;
    }
    li:nth-child(2) {
      grid-column: span 5;
    }
    li:last-child {
      grid-column: 7;
    }
  }
  .emptyDay, .calendarDay, .selectedDate {
    height: 5rem;
  }
  .calendarDay, .selectedDate {
    background: white;
    justify-self: stretch;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      background: lighten($primary-color, 90%);
    }
  }
  .selectedDate {
    background: $button-color;
    &:hover {
      background: $button-color;
    }
  }
  .emptyDay {
    background: none;
  }
  .clear-dates {
    grid-column: span 7;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $button-color;
    cursor: pointer;
    &:hover {
      background: lighten($button-color, 10%);
    }
    li {
      cursor: pointer;
    }
  }
}
