.home {
  .home-image {
    background: url("https://s3.eu-west-2.amazonaws.com/theneuk/images/photos/000/000/028/original/Photo_17-07-2016__15_22_52.jpg?1537011938") no-repeat center center fixed;
    background-size: cover;
    margin-top: -3rem;
    width: 100%;
    height: 100vh;
    grid-column: span 2;
    display: grid;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 10rem;
    }
  }
  .home-description {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    p {
      padding: 1rem;
    }
  }
  .home-booking-title {
    grid-column: span 2;
    h2 {
      text-align: center;
    }
  }
  .home-booking-form {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
  }
}
