.image-gallery-container {
  padding: 1rem;
  .image-gallery {
    max-width: 60rem;
    margin: 0 auto;
    .image-gallery-image {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      height: 30rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
