.pay {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  max-width: 35rem;
  .booking {
    border: 1px solid $primary-color;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h4 {
      grid-column: span 2;
      justify-self: center;
    }
    p {
      margin: 1rem;
    }
  }
}
