h4.updateMessage {
  background: rgba($button-color, 0.5);
  text-align: center;
  color:      $text-color;
  padding:    0.5rem;
  transition-property: all;
  transition-duration: 0.8s;
  &.closeMessage {
    padding: 0;
    height: 0;
    font-size: 0;
  }
}
