.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  .event {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    max-width: 30rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid $primary-color;
    background: lighten($primary-color, 90%);
    .eventImage {
      width: 100%;
      object-fit: cover;
      grid-column: span 2;
      img {
        height: 20rem;
      }
    }
  }
}
