form {
  display: grid;
  justify-items: center;
  label {
    display: grid;
    grid-template-columns: 10rem auto;
    align-items: center;
    justify-self: stretch;
    margin: 0.5rem 0;
    span {
      height: 100%;
      input {
        width: 100%;
        height: 100%;
      }
    }
    input, textarea {
      &.read-only {
        cursor: default;
        background: lighten($primary-color, 90%);
      }
    }
    textarea {
      resize: none;
      height: 5rem;
      border: thin solid lightgrey;
    }
  }
  input[type="submit"] {
    background: $button-color;
    width: 100%;
    height: 2.1rem;
    align-self: end;
    &:hover {
      background: lighten($button-color, 10%);
    }
  }
}

// no all border highlight on focus
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
