form {
  min-width: 30rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 16px;
  .input input, label {
    line-height: 2.5rem;
  }
  label {
    grid-column: 1 / 2;
    border: 1px solid transparent;
  }
  .input {
    grid-column: 2 / 3;
  }
  input {
    width: 100%;
    padding-left: 0.2rem;
  }
  .button {
    grid-column: span 2;
  }
}

// no all border highlight on focus
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
