nav {
  ul {
    height: 3rem;
    // width: 100%;
    background: rgba($button-color, 0.8);
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(4, 10rem);
    li {
      display: flex;
      width: 10rem;
      height: 3rem;
      &:hover {
        background: rgba($button-color, 1);
      }
      a {
        flex: 1;
        line-height: 3rem;
        text-align: center;
      }
    }
    .loginButton {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      height: 3rem;
      background: transparent;
      li:nth-child(2) {
        display: flex;
        position: absolute;
        top: 50%;
        visibility: hidden;
      }
      &:hover {
        height: 6rem;
        transition:0s;
        li:nth-child(2) {
          visibility: visible;
          background: rgba($button-color, 0.8);
          &:hover {
            background: rgba($button-color, 1);
          }
        }
      }
    }
  }
}
