<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Neuk</h1>

    <h2>Dear <%= @user.name.capitalize %></h2>

    <p>You have successfully booked your stay at The Neuk, Kames.</p>

    <p>To login to the site, please follow this link: <a href="<%= @url %>">MY BOOKING</a>.</p>

    <p>Thank you for booking, we hope you have a fantastic stay and enjoy it as much as we do.</p>

    <p>Best wishes</p>

    <p>Douglas & Susie</p>
  </body>
</html>
