<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to The Neuk</h1>

    <h2>Dear <%= @user.name.capitalize %></h2>

    <p>You have successfully set up a new account at The Neuk, Kames.</p>

    <p>To login to the site, please follow this link: [LINK GOES HERE] MY ACCOUNT</a>.</p>

    <p>Best wishes</p>

    <p>Douglas & Susie</p>
  </body>
</html>
