/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, body {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", sans-serif; }

h1 {
  font-size: 3rem;
  text-align: center; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2.0rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

a {
  text-decoration: none;
  color: black; }

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

::selection {
  background: #5b9169;
  color: white; }

.button {
  background: #5b9169;
  opacity: 0.9;
  border: none;
  height: 2.5rem;
  width: 100%;
  border-radius: 0; }
  .button:hover {
    opacity: 1; }

form {
  min-width: 30rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 16px; }
  form .input input, form label {
    line-height: 2.5rem; }
  form label {
    grid-column: 1 / 2;
    border: 1px solid transparent; }
  form .input {
    grid-column: 2 / 3; }
  form input {
    width: 100%;
    padding-left: 0.2rem; }
  form .button {
    grid-column: span 2; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

nav ul {
  background: rgba(91, 145, 105, 0.8);
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(4, 10rem);
  height: 3rem; }
  nav ul li {
    display: flex;
    width: 10rem; }
    nav ul li:hover {
      background: #5b9169; }
    nav ul li a {
      flex: 1;
      line-height: 3rem;
      text-align: center; }
  nav ul .loginButton {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 3rem;
    background: transparent; }
    nav ul .loginButton li:nth-child(2) {
      display: flex;
      position: absolute;
      top: 50%;
      visibility: hidden; }
    nav ul .loginButton:hover {
      height: 6rem;
      transition: 0s; }
      nav ul .loginButton:hover li:nth-child(2) {
        visibility: visible;
        background: rgba(91, 145, 105, 0.8); }
        nav ul .loginButton:hover li:nth-child(2):hover {
          background: #5b9169; }

.login {
  height: calc(100vh - 3rem);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 0.1fr 4fr;
  grid-gap: 2rem; }
  .login h2 {
    align-self: end;
    justify-self: center; }
  .login ul {
    line-height: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    justify-items: stretch;
    align-items: stretch; }
    .login ul li {
      background: #5b9169;
      opacity: 0.9;
      text-align: center;
      cursor: pointer; }
      .login ul li:hover {
        opacity: 1; }
  .login form {
    align-self: start;
    width: 20rem; }

.message {
  text-align: center;
  padding: 0.5rem; }
  .message.update {
    color: black;
    background: rgba(91, 145, 105, 0.5); }
  .message.error {
    color: #cc0000;
    background: #FFCCCC; }

main {
  min-height: calc(100vh - 3rem);
  display: grid;
  justify-content: center; }

#calendar {
  background: #cccccc;
  padding: 1px;
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px; }
  #calendar #datePicker, #calendar #daysOfWeek {
    grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center; }
  #calendar #datePicker li:first-child {
    grid-column: 1; }
  #calendar #datePicker li:nth-child(2) {
    grid-column: span 5; }
  #calendar #datePicker li:last-child {
    grid-column: 7; }
  #calendar .calendarDay {
    background: white;
    justify-self: stretch;
    padding: 0.5rem;
    cursor: pointer; }
    #calendar .calendarDay:hover {
      background: #e6e6e6; }
  #calendar .emptyDay {
    background: none; }

* {
  box-sizing: border-box; }

#app {
  min-height: 100vh; }
