*, body {
  font-family: $primary-font-stack;
  font-size: 100%;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.0rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $text-color;
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

::selection {
  background: $button-color;
  color: lighten($button-color, 100%);
}
