$primary-color:          black;
$admin-color:            #5b9169;
$button-color:           #AECDD9;
$text-color:             black;
$error-color:            #cc0000;
$error-color-background: #FFCCCC;
